<table class="table table-hover table-striped table-bordered" id="admin_clients">
  <thead class="thead-dark">  
    <tr>
    <th>Client Name</th>
    <th class="no-sort">No. of Projects  </th>
    <th class="no-sort">Status </th>
    <th class="no-sort">Action</th> 
    
  </tr></thead>
  <tbody>

    {% for clnt in clients %}
      
        <tr>
            <td>{{ clnt.client_name }}</td>
            <td>{{ clnt.project_count }}</td>
            <td>
              {% if clnt.is_active %}
      
                <span class="badge badge-brd-primary">Active</span>
      
              {% else %}
     
                <span class="badge badge-disable">Disabled</span>
      
              {% endif %}
            </td>
            <td>
            
            {% if clnt.is_active %}
              <a href="{% url 'deactivate_client' clnt.id %}" onclick="return confirm('Are you sure you want to deactivate this client?');">
              <span class="badge badge-danger">Deactivate</span>
              </a>
            {% else %}
              <a href="{% url 'activate_client' clnt.id %}" onclick="return confirm('Are you sure you want to activate this client?');">
              <span class="badge badge-success">Activate</span>
              </a>
            {% endif %}
            </td>
        </tr>
      
    {% endfor %}
  </tbody>
</table>