{% load filters %}
{% load static %}
{% if protocol_list %}

  <table class="table table-hover table-striped table-bordered" id="protocol_tbl">
    <thead class="thead-dark">
      <tr>
        <th>Document Name</th>
        <th>Project</th>
        <th>Protocol ID</th>
        <th>Therapeutic Area</th>
        <th>Phase</th>
        <th>Client Name</th>
        <th class="no-sort">Remarks</th>
        <th class="no-sort">Uploaded By</th>
        <th>Uploaded On</th>
        <!-- <th class="no-sort">Remarks</th> -->
      </tr>
    </thead>
    <tbody>
      {% for i in protocol_list %}
        <tr>
          <td style="white-space: pre-wrap;word-break: break-all;"><a class="link_grid dwnl_lnk" title="Download" href="{{ i.protocol_document_location.url }}" target="_blank">{{ i.protocol_document_location|get_file_name }}</a></td>
          
          <td style="white-space: pre-wrap;word-break: break-all;"><a class="link_grid" href="{% url 'project_dashboard' user.id i.project.id %}">{{ i.project.project_name }}</a></td>
          <td style="white-space: pre-wrap;word-break: break-all;">{{ i.project.protocol_id }}</td>
          <td style="white-space: pre-wrap;word-break: break-all;">{{ i.project.therapeutic_area.therapeutic_area }}</td>
          <td style="white-space: pre-wrap;word-break: break-all;">{{ i.project.phase }}</td>
          <td style="white-space: pre-wrap;word-break: break-all;">{{ i.project.client.client_name }}</td>
          <td style="white-space: pre-wrap;word-break: break-all;">{{ i.comments }}</td>

          <td>{{ i.created_by }}</td>
          <td>{{ i.uploaded_on|date:"d/m/Y H:i" }}</td>
          <!-- <td>{{ i.comments }}</td> -->
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  <div class="no_res"> No Result Found</div>

{% endif %}