<pre>
Application : CSR Automation
Date	   : 18 Nov 2020
Prepare By : Esub Beig
-------------------------------------------------------------
1) What are the Feature in the build?

	a) while mapping global/custom mapping in confirmation popup only changed section will be displayed.
	b) Improved activity and audit logs.
	c) Added filter in activity and audit logs.
	d) after generating a document generator can share the document to different users using workdocs.
	e) Added collaboration section in project dashboard.
	f) While clearing the configurations user need to type clear configurations in input box.
	g) activity log only accessible to admin.
	h) added new role reviewers.
	i) while creating the user admin has to specify the user role from dropdown provided.
	j) Reviwers has all the buttons disabled except download and collaborations.
	k) user can view/write comments on the reports shared.
	l) user has can edit the document using workdocs and same will be availble in csr to download.
	m) workdocs credentials are the same as CSR Automation credentials.
	n) added the Notification functionality at the site level.
	
</pre>